<div class="container">

    <div class="header_container">
        <h3>
            Nossos Serviços
        </h3>
        <h3>
            Seleciona um serviço
        </h3>
    </div>

    <div class="container_content">
        <div class="services">
            <div class="services_info" onclick='controller()'>
                <h3>Lavar Cabelo</h3>
                <p> 3.000 Kz </p>
            </div>
        </div>
        <div class="services">
            <div class="services_info" onclick='controller()'>
                <h3>Fazer Brexe </h3>
                <p> 3.500 Kz </p>
            </div>
        </div>
        <div class="services">
            <div class="services_info" onclick='controller()'>
                <h3>Cortar o Cabelo</h3>
                <p> 700 Kz </p>
            </div>
        </div>
        <div class="services">
            <div class="services_info" onclick='controller()'>
                <h3>Sombracelhas</h3>
                <p> 700 Kz </p>
            </div>
        </div>
        <div class="services">
            <div class="services_info" onclick='controller()'>
                <h3>Fazer as Unhas </h3>
                <p> 1.500 Kz </p>
            </div>
        </div>
        <div class="services">
            <div class="services_info" onclick='controller()'>
                <h3>Lavar Rosto</h3>
                <p> 3.000 Kz </p>
            </div>
        </div>

    </div>



    <div class="function_aplication">
        <div class="back"> <a href="http://localhost:8082">Voltar</a></div>
        <div class="Agendar_"> <a href="http://localhost:8082">Agendar</a></div>
    </div>




</div>



<style>
    * {
        font-size: 18px;
        font-family: sans-serif;
    }

    .container {
        width: 100%;
        height: 100vh;
    }

    .header_container {
        width: 100%;
        height: 60px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgb(10, 10, 88);
    }

    .header_container h3 {
        margin-top: 10px;
    }

    .container_content {
        background-color: rgba(0, 0, 0, 0.1);
        width: 60%;
        margin: 100px auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 10px;
        padding: 20px;
    }

    .services {
        width: 200px;
        height: 200px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        cursor: pointer;
        margin: 10px;
    }

    .services_info h3 {
        color: rgb(10, 10, 88);
    }

    .services_info p {
        margin: 20px 30px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }

    .Agendar_ {
        margin-right: 50px;
    }

    .back {
        margin-left: 50px;
    }

    .Agendar_ a,
    .back a {

        background-color: rgb(10, 10, 88);
        color: white;
        padding: 15px;
        border-radius: 10px;
    }

    .function_aplication {
        display: flex;
        width: 100%;
        justify-content: space-between;
        position: fixed;
        bottom: 50px;

    }
</style>

<script>
   
   const controller = function (e){
    const value = e.target
    console.log(value)
   }




</script>