<header>

    <div class="header_content">
        <h1>
            Salão de Beleza <br>
            Fascinante
        </h1>
        <h2>
            Agora Podes agendar a sua ida no salão
        </h2>
    </div>


</header>


<style>
    * {
        padding: 0;
        margin: 0;
    }

    header {
        width: 100%;
        height: 100vh;
        background-image: url('https://img.freepik.com/fotos-gratis/pentes-e-tesouras-copiam-o-espaco_23-2148352839.jpg?w=740&t=st=1705363158~exp=1705363758~hmac=54b0370a926edea3a766e85e8b46d48a8d7236689221babf1dc8cf34d4edc2a2');
        background-repeat: no-repeat;
        background-size: 110%;
        display: flex;
        align-items: center;
        color: rgb(16, 9, 41);
        font-family: sans-serif;

    }

    .header_content {
        margin: -100px 30px;
    }

    .header_content h2 {
        margin-top: 100px;

    }
</style>