<Header class="header">
    <div class="header_nav">
        <div class="logo">
            <img src="https://png.pngtree.com/png-vector/20220709/ourmid/pngtree-spa-logo-png-image_5826148.png"
                alt="Fascinante logo">

        </div>
        <nav>
            <li><a href="#">Home</a></li>
            <li><a href="http://localhost:8082/login ">Ajuda</a></li>
            <li><a href="http://localhost:8082/controller/agendar ">Agendar</a></li>
        </nav>

        <div class="agendar">
            <a href="http://localhost:8082/controller/admin">Minha Conta</a>
        </div>
    </div>
    <div class="principal_content">
        <div class="content_text">
            <h1>
                Fascinante <br>
                SALÃO DE BELEZA


            </h1>
            <p>
                Vem tratar do teu visual e mude a sua <br> aparência connosco
            </p>
            <div class="btn_agendar">


                <a href="#"> « Agendamentos » </a>
            </div>
        </div>
        <div class="content_image">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1BSUjSBmahW6h5SMMga0CIn8Ma5mIKD7yKQ&usqp=CAU"
                alt="imagem fascinante">
        </div>

    </div>

</Header>

<style>
    .header {

        width: 100%;
        height: 100vh;
    }

    .header .logo img {
        margin: 160px auto;
        height: 130px;

    }

    .header_nav {
        display: flex;
        width: 100%;
        height: 100px;
        align-items: center;
        justify-content: space-around;
    }

    .header_nav li {
        display: inline;
        margin-left: 19px;
        font-size: 1.1em;
    }

    .header_nav li a,
    .agendar {
        color: rgb(15, 15, 51);
        font-family: sans-serif;
        padding: 10px;


    }

    .header_nav li a:hover {
        background-color: rgb(15, 15, 51);
        color: white;
        border-radius: 10px;
        transition: 0.5s background;
    }

    .header_nav .agendar a {
        background-color: rgb(15, 15, 51);
        width: 90px;
        height: 90px;
        border-radius: 60px;
        padding: 10px;
        color: white;
    }

    .principal_content {
        width: 100%;
        height: 770px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .content_text {
        font-family: sans-serif;
    }

    .content_text h1 {
        font-size: 29px;
        color: rgb(230, 90, 206);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .content_text p {
        margin-top: 10px;
        color: rgb(163, 127, 133);
    }

    .btn_agendar {
        margin: 40px auto
    }

    .content_image {
        margin-right: 80px;
        background-color: rgb(230, 90, 206);
    }
    
    .btn_agendar a {
        font-family: sans-serif;
        background-color: rgb(15, 15, 51);
        padding: 9px;
        color: white;
        font-size: 18px;
        border-radius: 15px;
        
    }
</style>