
    <Header class="header">
    <div class="header_nav">
        <div class="logo"><p>logo da firma</p></div>
        <nav>
            <li><a href="#">Home</a></li>
            <li><a href="#">Agendar</a></li>
            <li><a href="#">Sobre</a></li>
        </nav>

        <div class="agendar">
            <a href="#">Tenho uma duvida </a>
        </div>
    </div>
    <div class="principal_content">
        <div class="content_text">
            <h1>
                Fascinante <br>
                SALÃO DE BELEZA

            </h1>
            <p>
                Vem tratar do teu visual e mude a sua <br> aparência connosco 
            </p>
            <div class="btn_agendar">
                <a href="#"> « Agendar » </a>
            </div>
        </div>
        <div class="content_image">

        </div>
    </div>
    </Header>

    <style>


    .header{

        width: 100%;
        height: 100vh;
    }
    .header_nav{
        display: flex;
        width: 100%;
        height: 100px;
        align-items: center;
        justify-content:space-around;
    }
    .header_nav li{
        display: inline;
        margin-left: 19px;
        font-size: 1.1em;
    }
    .header_nav li a, .agendar {
         color: rgb(206, 134, 146);
        font-family: sans-serif;
        padding: 10px;

    }
    .header_nav li a:hover{
        background-color: rgb(209, 143, 154);
        color: white;
        border-radius:10px;
        transition: 0.5s background;
    }
    .header_nav .agendar a{
        background-color: rgb(250, 130, 150);
        width: 90px;
        height: 90px;
        border-radius: 60px;
        padding: 10px;
        color: white;
    }
    .principal_content{
        width: 100%;
        height: 770px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap ;
    }
    .content_text{
        font-family: sans-serif;
    }
    .content_text h1{
        font-size: 26px;
        color: rgb(189, 138, 146);
    }
    .content_text p{
        margin-top: 10px;
        color: rgb(163, 127, 133);
    }
    .btn_agendar{
        margin:40px auto 
    }
    .btn_agendar a{
        font-family: sans-serif;
        background-color: rgb(206, 134, 146);
        padding: 9px;
        color: white;
        font-size: 18px;
        border-radius: 15px;
    }
    </style>