<body>
  <main class="main">

    <form action="servicos" method="post">

      <p>login</p>

      <p>Criar conta</p>
   
    </form>

  </main>

  <style>
    * {}

    body {
      height: 100vh;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;
    }

    .main {

      width: 900px;
      height: 700px;
      border-radius: 10px;
      box-shadow: 10px 10px 1000px 30px rgb(181, 207, 255);



    }

    form {
      text-align: center;
      margin: 30px auto;
      font-family: sans-serif;
    }

    form p {
      font-size: 17px;
    }

  </style>
</body>